#z{ 
    margin-top: 20px;
}
h1{
    text-shadow: 5px 5px 5px darkgrey;
}
.a{
    text-align: center;

}
ul{
    border: 1px solid black;
    border-radius: 10px;
}
i{
    float:right ;
}
.b{
    margin-top: 50px;
}
.c{
    margin-top: 20px;
}
.d{
    margin-top: 30px;
}
#g{
    width: 300px;
    margin-left: 100px;  
}
.e{
    margin-top: 10px;
}
i{
    color: coral;
}

